# Node dependencies
node_modules/

# Environment variables
.env

# Firebase Admin SDK private key
serviceAccountKey.json

# Logs
logs/
*.log

# Uploads
uploads/
firebase-base64.txt
.env
node_modules/
